.note-list{
    width: 340px;
    max-width: 670px;
    min-width: 196px;
    background: #e6e4e4;
    border-right: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
  }

  .note-list .note-list-head{
      display: flex;
      padding: 5px 25px;
      align-items: center;
      flex-direction: column;
      height: 100px;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;
  }

  .note-list .note-list-body{
      flex: 1;
      overflow: auto;
  }

  .note-list-body .note-card{
      height: 120px;
      padding: 20px 25px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      border: 1px solid #b8b5b5;
      text-decoration: none;
  }

  .note-card .note-card-head{
      width: 100%;
      flex-direction:column;
      display: flex;
      flex: 1;
      font-size: 14px;
      align-items: center;
  }

  .note-card-head .note-card-title{
      width: 100%;
      color: #333;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .note-card-head .note-card-desc{
    width: 100%;
    color: #737373;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

  .note-list-head .title{
      width: 100%;
      flex: 1;
  }

  .note-list-head .sub-head{
      width: 100%;
      margin: 5px;
      font-size: 14px;
  }

  .title h1{
      margin: 15px 0 20px;
      font-weight: 500;
      font-size: 20px;
  }

  .note-card-desc .note-card-date{
    margin-top: 10px;
    font-size: 13px;
    color: indigo;
}

    .note-card:hover{
        background: whitesmoke;
    }

    .note-card:active{
        background: white;
    }

