.sidenavbar{
    width: 240px;
    background-color: rgb(66, 62, 62);
    display: flex;
    flex-direction: column;
    color: rgb(218, 214, 214);
  }

  ::placeholder{
      color: #ccc;;
  }
  
  .sidenavbar .sidenavbar-top{
    flex: 1;
  }
  
  .icon{
    margin: 0 10px;
    font-size: 12px;
  }
  
  .sidenavbar-top .sidenavbar-top-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  .sidenavbar-top-profile .profile-title{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 10px;
  }
  .sidenavbar-top-profile .profile-icon{
          background-color: rgb(110, 135, 182);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          color: #000;
          display: flex;
          align-items: center;
          justify-content: center;
  }
  
  .sidenavbar-top .sidenavbar-top-search{
    padding: 15px;
  }
  
  .sidenavbar-top-search .search-block{
    display: flex;
    align-items: center;
    background-color: rgb(107, 106, 100);
    padding: 8px 10px;
    border-radius: 50px;
  }
  
  .search-block .icon{
    font-size: 12px;
  }
  
  .search-block input{
    color: cornsilk;
    margin-left: 10px;
    background: none;
    outline: none;
    border: none;
  }
  
  .sidenavbar-top .sidenavbar-top-create{
    padding: 0 15px;
    color: #fff;
  }
  
  .sidenavbar-top-create .create-btn{
    display: flex;
    align-items: center;
    background: green;
    padding: 8px 10px;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .create-btn .icon{
    margin-left: 10px;
    font-size: 12px;
  }
  
  .sidenavbar-top .sidenavbar-top-menu {
    padding: 0 15px;
    margin-top: 10px;
  }
  
  .sidenavbar-top-menu ul{
        list-style: none;
        padding-left: 0;
  }

  .sidenavbar-top-menu ul li a{
    display: flex;
    align-items: center;
    padding: 10px 18px;
    color: #ccc;
    text-decoration: none;
  }
  
  .sidenavbar-top-menu ul li:hover{
    cursor: pointer;
    background: rgb(110, 135, 182);
    color: rgb(66, 62, 62);
  }
  
  .sidenavbar-top-menu ul li:active{
    cursor: pointer;
    background: rgb(73, 98, 145);
    color: rgb(66, 62, 62);
  }

.sidenavbar .sidenavbar-bottom{
      padding: 8px 15px;
      border-top: 1px solid #555;

}
.sidenavbar-bottom .need-help{
    display: flex;
    align-items: center;
    padding: 8px;
}

