
html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar{
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 260px;
  border: 1px solid black;
  height: 100%;
}

.navitem{
  padding: 0.3rem;
  border: 1px dashed rgb(51, 48, 48);
}

.notetitle{
  font-weight: 800;
  font-size: large;
}
.notedesc{
  font-size: small;
}

.editor{
  margin-left: 270px;
}

.edit{
  border: 1px solid rgb(51, 48, 48);
  font-size: x-small;
  color:rgb(116, 112, 112)
}

.qleditor{
  height: 100%;
  width: 50rem;
}

#evernote-container {
  height: 100%;
  box-sizing: border-box;
}
.app-container {
  height: 100%;
  box-sizing: border-box;
}
.quill {
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 300px);
  float: left;
}
.ql-container {
  box-sizing: border-box;
  height: calc(100% - 42px);
  overflow-y: scroll;
}
.ql-editor {
  cursor: text;
}
.MuiListItem-root.Mui-selected {
  background-color: #d4d8e8 !important;
}
.no-note-selected {
  font-size: 48px;
  position: absolute;
  top: 50px;
  left: calc(50% - 165px);
}