body{
    font-family: Nunito;
    
}

.editor{
    margin-left: 260px;
}

.dropdown{
    width: 20px;
}

.avatar-text{
    vertical-align: middle;
    width: 29px;
    height: 29px;
    background: darkcyan;
    border-radius: 50%;
    font-weight: bolder;
    color: white;
    font-size: 17px;
    text-align: center;
}

.nullnote{
    margin-left: 260px;
}

.logo{
    padding: 4%;
    margin: 2%;
    background-color: rgb(255, 255, 255);
    color: rgb(97, 76, 76);
    font-weight: bolder;
    border-radius: 5px;
    font-family: Rajdhani;
    text-align: center;
    cursor: default;
}

.logo:hover{
    -webkit-filter: brightness(120%);
}

.navitem{
    padding: 2%;
    margin: 2%;
    border-radius: 2px;
    background: rgb(218, 215, 204);
}

.navitem-selected{
    padding: 2%;
    margin: 2%;
    border-radius: 2px;
    background: rgb(250, 243, 218);
}

.notedesc{
    font-size: small;
}

.sidebar{
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(230, 230, 230);
    overflow: scroll;
    padding: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Rajdhani:wght@600&display=swap');